<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap3.css'%}">
</head>
<body>
<div class="container" align="center">
    <div class="jumbotron">
        <h1>Employee Information</h1>
         <a class="btn btn-primary btn-lg" href="/hyd" role="button">HYD jobs</a>
        <a class="btn btn-primary btn-lg" href="/blr" role="button">BLR jobs</a>
         <a class="btn btn-primary btn-lg" href="/bbs" role="button">BBS jobs</a>
    </div>
</div>

</body>
</html>